%l_manWalkToRight { background: url("../img/go_right_bottom.png") no-repeat 0 0; background-size: 1100%;}
%l_manWalkToLeft { background: url("../img/go_left_bottom.png") no-repeat 0 0; background-size: 1100%;}
%l_manStand { background: url("../img/stand.png") no-repeat 0 0; background-size: 400%;}

