@charset "UTF-8";

@import "base","img";
$rem:(1/50)*1rem;
@function rem($px){
	@return $px*(1/50)*1rem;
}

html,body { width: 100%; height: 100%; display: block; overflow: hidden;}

.landscape{ visibility: hidden; position: relative; display: none; width: 100%; height: 100%; background: rgba(0,0,0,.4); overflow: hidden;}
@media screen and (orientation:landscape){
	.landscape{ display: block!important; visibility: visible;}
}
//@media screen and (orientation:landscape){
//	.landscape{ display: block!important; /*visibility: visible;*/}
//}
//.portrait, .landscape { display: none; width: 100%; height: 100%; overflow: hidden; position:relative;}



.slide{-webkit-transition:left .4s ease;transition:left .4s ease}
.pages{height:100%;position:relative}
.page{height:100%;float:left;overflow:hidden}
.page>*{display:none}
.page_block>*{display:block}
																																																																																																											 